@mixin font($size: 1.6rem, $height: 1.5em, $weight: 400, $spacing: 0) {
    font-size: $size;
    font-weight: $weight;
    letter-spacing: $spacing;
    line-height: $height;
}

@mixin fontFactory($list) {
    @include font(map-get($list, "size"), map-get($list, "height"), map-get($list, "weight"), map-get($list, "spacing"))
}

@mixin font1000 {
    @include fontFactory($font1000);
}

@mixin font900 {
    @include fontFactory($font900);
}

@mixin font800 {
    @include fontFactory($font800);
}

@mixin font700 {
    @include fontFactory($font700);
}

@mixin font600 {
    @include fontFactory($font600);
}

@mixin font500 {
    @include fontFactory($font500);
}

@mixin font400 {
    @include fontFactory($font400);
}

@mixin font300 {
    @include fontFactory($font300);
}

@mixin font200 {
    @include fontFactory($font200);
}

@mixin font100 {
    @include fontFactory($font100);
}