:root {
    --xxl: 54px;
    --xl: 48px;
    --lg: 40px;
    --mid: 36px;
    --sm: 32px;
    --xs: 28px;
    --xxs: 24px;
    --border-weight-light: 1px;
    --border-weight-regular: 2px;
    --border-weight-bold: 4px;
    --border-weight-extrabold: 6px;
    --pri-base: 0, 223, 156;
    --pri-lightness: 70, 255, 199;
    --pri-light: 19, 255, 184;
    --pri-dark: 0, 172, 120;
    --pri-darkness: 0, 121, 85;
    --sec-base: 14, 194, 140;
    --sec-lightness: 68, 242, 190;
    --sec-light: 21, 238, 173;
    --sec-dark: 11, 146, 106;
    --sec-darkness: 7, 99, 71;
    --scalet-base: 173, 36, 35;
    --scalet-lightness: 221, 90, 89;
    --scalet-light: 213, 47, 46;
    --scalet-dark: 131, 27, 26;
    --scalet-darkness: 88, 18, 18;
    --red-base: 255, 41, 41;
    --red-lightness: 255, 143, 143;
    --red-light: 255, 92, 92;
    --red-dark: 245, 0, 0;
    --red-darkness: 194, 0, 0;
    --orange-base: 237, 121, 18;
    --orange-lightness: 244, 175, 113;
    --orange-light: 241, 148, 65;
    --orange-dark: 190, 97, 14;
    --orange-darkness: 142, 73, 11;
    --yellow-base: 239, 134, 41;
    --yellow-lightness: 246, 188, 136;
    --yellow-light: 243, 161, 88;
    --yellow-dark: 213, 109, 16;
    --yellow-darkness: 166, 84, 12;
    --lightgreen-base: 153, 199, 56;
    --lightgreen-lightness: 194, 221, 136;
    --lightgreen-light: 173, 210, 96;
    --lightgreen-dark: 122, 159, 45;
    --lightgreen-darkness: 92, 119, 34;
    --green-base: 86, 199, 56;
    --green-lightness: 154, 221, 136;
    --green-light: 120, 210, 96;
    --green-dark: 69, 159, 45;
    --green-darkness: 52, 119, 34;
    --teal-base: 72, 176, 183;
    --teal-lightness: 145, 208, 212;
    --teal-light: 109, 192, 197;
    --teal-dark: 58, 141, 146;
    --teal-darkness: 43, 106, 110;
    --blue-base: 44, 113, 211;
    --blue-lightness: 128, 170, 229;
    --blue-light: 86, 141, 220;
    --blue-dark: 35, 90, 169;
    --blue-darkness: 26, 68, 127;
    --deepblue-base: 0, 55, 255;
    --deepblue-lightness: 102, 135, 255;
    --deepblue-light: 51, 95, 255;
    --deepblue-dark: 0, 44, 204;
    --deepblue-darkness: 0, 33, 153;
    --navy-base: 19, 62, 119;
    --navy-lightness: 33, 108, 207;
    --navy-light: 26, 85, 163;
    --navy-dark: 12, 39, 75;
    --navy-darkness: 5, 16, 31;
    --lavendar-base: 113, 96, 232;
    --lavendar-lightness: 193, 185, 245;
    --lavendar-light: 153, 141, 238;
    --lavendar-dark: 73, 51, 226;
    --lavendar-darkness: 50, 29, 197;
    --violet-base: 92, 46, 145;
    --violet-lightness: 143, 90, 203;
    --violet-light: 117, 58, 184;
    --violet-dark: 67, 34, 106;
    --violet-darkness: 43, 21, 68;
    --purple-base: 136, 23, 152;
    --purple-lightness: 203, 53, 224;
    --purple-light: 176, 30, 196;
    --purple-dark: 96, 16, 108;
    --purple-darkness: 57, 10, 63;
    --pink-base: 228, 59, 166;
    --pink-lightness: 240, 149, 207;
    --pink-light: 234, 104, 186;
    --pink-dark: 207, 29, 142;
    --pink-darkness: 163, 22, 111;
    --black: 43, 43, 43;
    --gray900: 51, 51, 51;
    --gray800: 66, 66, 66;
    --gray700: 98, 98, 98;
    --gray600: 134, 134, 134;
    --gray500: 196, 196, 196;
    --gray400: 224, 224, 224;
    --gray300: 235, 235, 235;
    --gray200: 246, 246, 246;
    --gray100: 248, 248, 248;
    --white: 255, 255, 255;
}