@use "./var/var";
@import "./module/reset";
@import "./module/font";
@import "./module/size";
@import "./module/space";

@keyframes fontAni-wght {
    0% {
        font-variation-settings: "wght" 100;
    }

    50% {
        font-variation-settings: "wght" 900;
    }

    100% {
        font-variation-settings: "wght" 100;

    }
}

[s-font-ani="wght"] {
    animation: fontAni-wght 2s ease-in-out infinite;
}

.sb-container {
    border: 1px solid;
    margin: 0;
    padding: 16px;
}

:root {

    @each $name,
    $value in var.$sizeList {
        --#{$name}: #{$value};
    }

    @each $name,
    $value in var.$pxBorderWeightList {
        --border-weight-#{$name}: #{$value};
    }

    @each $colorName,
    $map in var.$globalColorMapList {

        @each $colorType,
        $value in $map {
            --sy-#{$colorName}-#{$colorType}: #{$value};
        }
    }
}

h1 {
    color: var(--sy-pri-base)
}