@use "../../../styles/var/var";
@use "../../../styles/mixin/mixin";

.option {
    background: tomato;

    max-width: map-get(var.$sizeList, "xxl");
    min-height: 48px;
    @include mixin.font400;
}